name: "Create simple image"
on: 
    push:
        branches: 
        - master
        - configure

jobs: 

    configuration: 
        runs-on: ubuntu-latest
        if: github.ref_name == 'configure'
        steps: 
        - name: "SSH into EC2 instance and Install Docker"
          run: |
            echo "${{ secrets.SSH_KEY }}" >> codeplaykey.pem
            sudo chmod 400 codeplaykey.pem
            ssh -i "codeplaykey.pem" -o StrictHostKeyChecking=no ubuntu@ec2-44-222-169-97.compute-1.amazonaws.com "

            ## install docker 
            # Add Docker's official GPG key:
            sudo apt update -y
            sudo apt install ca-certificates curl -y
            sudo install -m 0755 -d /etc/apt/keyrings
            sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
            sudo chmod a+r /etc/apt/keyrings/docker.asc

            # Add the repository to Apt sources:
            sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
            Types: deb
            URIs: https://download.docker.com/linux/ubuntu
            Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
            Components: stable
            Signed-By: /etc/apt/keyrings/docker.asc
            EOF

            sudo apt update -y

            sudo apt install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin -y

            docker --version
            "



    build_image: 
        runs-on: ubuntu-latest
        if: github.ref_name == 'master'
        steps: 
        - name: "List the directory"
          run: |
            ls 

        - name: "checkout from dir"
          uses: actions/checkout@v4

        - name: "Build the image"
          run: |
            docker build -t theoafactor/codeplay .
          
        - name: "Login to Docker Hub"
          run: |
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

        - name: "Push image to DockerHub"
          run: |
            docker push theoafactor/codeplay

        - name: "SSH into the EC2 instance"
          run: |
            echo "${{ secrets.SSH_KEY }}" >> codeplaykey.pem
            sudo chmod 400 codeplaykey.pem
            ssh -i "codeplaykey.pem" -o StrictHostKeyChecking=no ubuntu@ec2-44-222-169-97.compute-1.amazonaws.com "
            
            sudo docker stop $( sudo docker ps -a -q )
            sudo docker rm --force $( sudo docker ps -a -q )
            sudo docker rmi $( sudo docker images -q)
            sudo docker pull theoafactor/codeplay
            sudo docker run -d -p 80:80 theoafactor/codeplay
            "


