name: "Create simple image"
on: 
    push:
        branches: 
        - master
        - configure

jobs: 

    configuration: 
        runs-on: ubuntu-latest
        if: github.ref_name == 'configure'
        steps: 
        - name: "SSH into EC2 instance and Install Docker"
          run: |
            echo "${{ secrets.SSH_KEY }}" >> codeplaykey.pem
            sudo chmod 400 codeplaykey.pem
            ssh -i "codeplaykey.pem" -o StrictHostKeyChecking=no ubuntu@ec2-44-222-169-97.compute-1.amazonaws.com

    build_image: 
        runs-on: ubuntu-latest
        if: github.ref_name == 'master'
        steps: 
        - name: "List the directory"
          run: |
            ls 

        - name: "checkout from dir"
          uses: actions/checkout@v4

        - name: "Build the image"
          run: |
            docker build -t theoafactor/codeplay .
          
        - name: "Login to Docker Hub"
          run: |
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

        - name: "Push image to DockerHub"
          run: |
            docker push theoafactor/codeplay

        - name: "SSH into the EC2 instance"
          run: |
            echo "${{ secrets.SSH_KEY }}" >> codeplaykey.pem
            sudo chmod 400 codeplaykey.pem
            ssh -i "codeplaykey.pem" -o StrictHostKeyChecking=no ubuntu@ec2-44-222-169-97.compute-1.amazonaws.com
