name: "Create simple image"
on: 
    push:
        branches: 
        - master 

jobs: 
    build_image: 
        runs-on: ubuntu-latest
        steps: 
        - name: "List the directory"
          run: |
            ls 

        - name: "checkout from dir"
          uses: actions/checkout@v4

        - name: "Build the image"
          run: |
            docker build -t theofactor/codeplay:1 .
          
